/* 전체 페이지 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 1200px;
    height: 600px;
}

/* 상단 바 스타일링 */
header {
    background-color: #5f8caa;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1200px;
    box-sizing: border-box;
}

header .top-logo {
    width: 180px;
    height: 70px;
    padding-top: 15px;
}

.top-logo img {
    margin-left: 60px;
    width: auto;
    height: 100%;
}

header h1 {
    margin: 0;
    font-size: 20px;
    padding-left: 150px;
}

/* 링크 스타일링 */
.top-bar-links {
    line-height: 80px;
    height: 100%;
}

.top-bar-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

/* 네비게이션 바 스타일링 */
nav {
    background-color: #ababab;
    color: white;
    width: 60px;
    position: fixed;
    top: 00px;
    bottom: 0;
    height: 600px;
    box-sizing: border-box;
}

nav .navi-item1 {
    display: block;
}
nav .navi-item2 {
    display: block;
}
nav .navi-item3 {
    display: block;
}
nav .navi-item4 {
    display: block;
}
nav .navi-item5 {
    display: block;
}
nav .navi-item6 {
    display: block;
}
nav .navi-item7 {
    display: block;
}
nav .navi-item8 {
    display: block;
}
nav .navi-item9 {
    display: block;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
}

/* 네비게이션 바 링크 스타일링 */
nav a:hover {
    background-color: #555;
}


/* 메인 페이지 스타일링 */
main {
    width: 1140px;
    height: 520px;
    margin-left: 60px;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
}

main h2 {
    font-size: 28px;
    margin-bottom: 20px;
}


/* Footer 스타일링 */
footer {
    background-color: #5f8caa;
    color: white;
    text-align: center;
    padding: 0px;
    height: 20px;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.status-user {
    flex-grow: 1;
    text-align: left;
    margin-left: 80px;
    width: 100px;
}

.status-message {
    flex-grow: 2;
    text-align: center;
}

.status-time {
    flex-grow: 3;
    text-align: right;
    margin-right: 20px;
    width: 100px;
}