#div-select {
  text-align: right;
}
#div-table {
  height: 410px;
}
#div-ul {
  text-align: center;
}
ul {
  padding: 0px;
}
li {
  display: inline;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: #000;
}