/* 상단 테이블 */
#inReg-tbl1, #inReg-tbl1 tr, #inReg-tbl1 td {
  border: none;
}
select {
  width: 98%;
}
.leftAlign {
  text-align: left;
}
.inputResize {
  width: 96%;
}
.rightAlign {
  text-align: right;
  padding-right: 10px;
}
.tbl-input-text {
  width: 100%;
}
.fullWidth {
  width: 94%;
}

/* 버튼 오른쪽 */
.div-btn {
  float: right;
  padding-bottom: 10px;
}
/* 페이징 */
#div-ul {
  text-align: center;
}
ul {
  padding: 0px;
}
li {
  display: inline;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: #000;
}