body {
    background-color: #5f8caa;
}

.login_title {
    font-size:40rem;font-weight: 500;color:#5f8caa
}

.login_page {
    background: #fff;
    border-radius: 120rem;
    width: 400rem;
    height: 400rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60rem;
    text-align: center;
}

.login_table{
	border:0px solid #cccccc;
    
}

.login_table th,td{
	padding:5px;
}