ul {
    padding: 0px;
}

li {
    display: inline;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #000;
}

head th,
tr,
td {
    border: 0px solid;
    text-align: center;
    height: 30px;
    width: 50px;
}

.mypage2_p {
    font-size: 18rem;
    font-weight: bold;
}

#mypage2_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}



main div span {
    font-size: 14rem;
}