body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#div-ul {
    text-align: center;
}

ul {
    padding: 0px;
}

li {
    display: inline;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #000;
}

#div_yn {
    width: auto;
    margin-top: 2%;
    margin-left: 90%;
}

table#table_hd {
    position: sticky;
    top: 0;
    text-align: center;
    height: 50px;
    margin-top: 20px;
    background-color: #eeeeee;
}

#table_hd2 {
    height: 30px;
}

head th,
tr,
td {
    border: 1px solid #ccc;
    text-align: center;
    height: 30px;
    width: 50px;
}

#num1 {
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: red;
    border: 0px;
}

/* popup */

.userMng_p {
    text-align: center;
    font-size: 20px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    height: 400px;
}

.popN {
    width: auto;
    float: inline-end;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: #676767;
    margin-right: 150px;
    border-radius: 3rem;
    padding: 2rem 6rem 2rem;
}

.popN:hover,
.popN:focus,
.popY:hover,
.popY:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popY {
    width: auto;
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
    border: 0px;
    color: #ffffff;
    background: #5f8caa;
    border-radius: 3rem;
    padding: 2rem 6rem 2rem;
}