body {
    font-family: Arial, sans-serif;
    background-color: #5f8caa;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 15px;
  }
  
  form {
    margin-top: 20px;
  }


  